.countries {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.legendThreshold {
      font-size: 14px;
      font-family: sans-serif;
}

.caption {
      fill: #000;
      text-anchor: start;
      font-weight: bold;
}

.dropDownLabel{
    font-size: 16px;
    font-family: sans-serif;
}

h2 {
    font-family: Sans-serif;    
}

.d3-tip {
    font-family: Sans-serif;
    font-size: 14px;
    line-height: 0.8;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


text{
    font-size: 16px;
    font-family: Open Sans, sans-serif;
}
text.title{
font-size: 24px;
font-weight: 500;
}
text.subTitle{
    font-weight: 500;
    fill: #777777;
}
text.caption{
    font-weight: 400;
    font-size: 14px;
    fill: #777777;
}
text.label{
    font-weight: 400;
}

text.valueLabel{
    font-weight: 300;
}

text.yearText{
    font-size: 64px;
    font-weight: 700;
    opacity: 0.25;
}
/* .tick text {
    fill: #777777;
}
.xAxis .tick:nth-child(2) text {
    text-anchor: start;
} */
/* .tick line {
    shape-rendering: CrispEdges;
    stroke: #dddddd;
} */
/* .tick line.origin{
    stroke: #aaaaaa;
} */
/* path.domain{
    display: none;
} */

.myXaxis {
    font-size: 18px;
    font-family: sans-serif;
}

.myYaxis {
    font-size: 18px;
    font-family: sans-serif;
}

rect:hover {
    fill: #fec44f;
}

#tooltip {
    position: absolute;
    width: 280px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h2 {
    font-family: Sans-serif;    
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

text.caption{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 16px;
    fill: #777777;
}
